*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
/app/src/main/jniLibs/
*.apk
*.aab
/.go-cache
/.go-mod-cache
/.go-telemetry
/.fdroid-go
/third_party/croc-src/build
/misc-visitors
*.jks
